section {
  text-align: center;
  color: dimgrey;
}
a {
  color: dimgrey;
}
.images {
  margin: 10px 10px;
  background: #111010;
  border-radius: 25px;
}
#star-five {
  text-align: center;
  margin: 10px 10px;

  position: relative;
  display: block;
  color: black;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid black;
  border-left: 100px solid transparent;
  transform: rotate(35deg);
}
#star-five:before {
  border-bottom: 80px solid black;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -45px;
  left: -65px;
  display: block;
  content: "";
  transform: rotate(-35deg);
}
.btn {
  background: black;
  border-radius: 100%;
  padding: 2px;
}
#star-five:after {
  position: absolute;
  display: block;
  color: black;
  top: 3px;
  left: -105px;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid black;
  border-left: 100px solid transparent;
  transform: rotate(-70deg);
  content: "";
}
